<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobbies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="#">Cam Mars</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">Projects</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hobbies Section -->
    <section class="container my-5 text-center">
        <h1 class="display-4">My Hobbies</h1>
        <div class="row mt-4" id="hobbies-cards">
            <div class="col-md-4">
                <div class="card">
                    <img src="../resources/img/shredding.jpg" class="card-img-top" alt="Hobby 1">
                    <div class="card-body">
                        <h5 class="card-title">Skiing</h5>
                        <p class="card-text">I love to shred, and I have been skiing since I was four years old. Some of my favorite places to go are Copper and Winter Park, CO.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../resources/img/cheffing.jpg" class="card-img-top" alt="Hobby 2">
                    <div class="card-body">
                        <h5 class="card-title">Cooking</h5>
                        <p class="card-text">I recently got into cooking when I moved into my new apartment, but I'm learning new things every day. Right now, I am perfecting my homemade pasta recipe.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../resources/img/gettingHuge.jpg" class="card-img-top" alt="Hobby 3">
                    <div class="card-body">
                        <h5 class="card-title">Lifting Weights</h5>
                        <p class="card-text">I've been lifting for about 4 years, and it is one of, if not my favorite things to do to pass the time and clear my head.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center mt-5 py-4 bg-light">
        <p>Connect with me on</p>
        <a href="https://www.linkedin.com/in/cameron-mars-b92635291/" class="text-decoration-none">LinkedIn</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
